*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.nav-container{
    border: 1px solid black;
    height:4rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0rem 2rem;
    background-color: rgb(39, 36, 36);
    color:white;
    a{
        color:white;
        text-decoration: none;
        font-size: larger;
        cursor:pointer;
    }
}

.nav-categories{
    display:flex;
    gap:2.3rem;
}

.nav-auth{
    display:flex;
    gap:2.3rem;
}